# Python
__pycache__/
*.pyc

# Virtual env / env
.env
.venv/
venv/

# Dados (NUNCA subir)
downloads/
*.csv
*.parquet
*.zip
*.gz

# Jupyter (se usar depois)
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
